# List Comprehensions

In [1]:
#Birden fazla kod ve satır gerektiren işlemleri tek bir satırda kolayca yapmamızı sağlayan yapılara comprehension yapıları denir

In [46]:
students= ["John","Mark","Venessa","Mariam"]
student_no = ["John","Venessa"]

In [49]:
for i in students:
    if i in student_no:
        print(i.upper())
        
    else: 
        print(i.lower())

JOHN
mark
VENESSA
mariam

In [54]:
# Yukarıdaki işlemlerin list comprehensions hali aşağıdadır.
a = [i.lower() if i in student_no else i.upper() for i in students]
# if ve else birlikte kullanılıyorsa for comprehensionsın en sonunda kullanılır.
#if tek başına kullanılacaksa if en sonda olarak yazılır.

In [55]:
print(a)

['john', 'MARK', 'venessa', 'MARIAM']

# Dict Comprehensions

In [57]:
dictionary = {"a":1,
              "b":2,
              "c":3,
              "d":4}

In [61]:
dictionary.keys()
dictionary.values()
dictionary.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [62]:
{k:v**2 for (k,v) in dictionary.items()}

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

In [63]:
{k.upper() : v for (k,v) in dictionary.items()}

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [64]:
{k.upper() : v**2 for (k,v) in dictionary.items()}

{'A': 1, 'B': 4, 'C': 9, 'D': 16}

# Uygulama (Mülakat Sorusu)

Amaç : Bir listedeki sayıların karesi alınarak bir sözlüğe eklenmek istemektedir.
Key'ler aynı değerler , value'lar ise değiştirilmiş değerler olacak.

In [72]:
numbers = range(10)
new_dict = {}

In [73]:
for n in numbers:
    if n % 2 == 0:
        new_dict[n] = n ** 2

In [74]:
new_dict

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [79]:
{n: n**2 for n in numbers if n % 2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

# List - Dict Comprehensions Uygulama Soruları (1)

Bir veri setindeki değişken isimlerini değiştirmek

In [115]:
import seaborn as sns

In [116]:
df = sns.load_dataset("car_crashes")
l = []

In [111]:
df.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [103]:
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [104]:
for col in df.columns:
    l.append(col.upper())

In [106]:
df.columns = l

In [107]:
df.columns

Index(['TOTAL', 'SPEEDING', 'ALCOHOL', 'NOT_DISTRACTED', 'NO_PREVIOUS',
       'INS_PREMIUM', 'INS_LOSSES', 'ABBREV'],
      dtype='object')

In [119]:
#comprehensions ile yazımı
df.columns = [col.upper() for col in df.columns]

In [120]:
df.columns

Index(['TOTAL', 'SPEEDING', 'ALCOHOL', 'NOT_DISTRACTED', 'NO_PREVIOUS',
       'INS_PREMIUM', 'INS_LOSSES', 'ABBREV'],
      dtype='object')

# List - Dict Comprehensions Uygulama Soruları (2)

İsminde "INS" olan değişkenlerin başına FLAG diğerlerine NO_FLAG eklemek istiyoruz.

In [121]:
["FLAG_" + col if "INS" in col else "NO_FLAG" + col  for col in df.columns]

['NO_FLAGTOTAL',
 'NO_FLAGSPEEDING',
 'NO_FLAGALCOHOL',
 'NO_FLAGNOT_DISTRACTED',
 'NO_FLAGNO_PREVIOUS',
 'FLAG_INS_PREMIUM',
 'FLAG_INS_LOSSES',
 'NO_FLAGABBREV']

# List - Dict Comprehensions Uygulama Soruları (3)

Amaç key'i string , value'si aşağıdaki gibi bir liste olan sözlük oluşturmak.
Sadece sayısal değişkenler için yapmak istiyoruz.

In [155]:
 df = sns.load_dataset("car_crashes")

In [156]:
num_col = [col for col in df.columns if df[col].dtype != "O"]
soz = {}
agg_list = ["mean","min","max","sum"]

In [161]:
for col in num_col:
    soz[col] = agg_list

In [162]:
print(soz)

{'total': ['mean', 'min', 'max', 'sum'], 'speeding': ['mean', 'min', 'max', 'sum'], 'alcohol': ['mean', 'min', 'max', 'sum'], 'not_distracted': ['mean', 'min', 'max', 'sum'], 'no_previous': ['mean', 'min', 'max', 'sum'], 'ins_premium': ['mean', 'min', 'max', 'sum'], 'ins_losses': ['mean', 'min', 'max', 'sum']}

In [166]:
#Kısa yol(Comprehensions)
new_dict = {col:agg_list for col in num_col}

In [167]:
df[num_col].agg(new_dict)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
mean,15.790196,4.998196,4.886784,13.573176,14.004882,886.957647,134.493137
min,5.900000,1.792000,1.593000,1.760000,5.900000,641.960000,82.750000
max,23.900000,9.450000,10.038000,23.661000,21.280000,1301.520000,194.780000
sum,805.300000,254.908000,249.226000,692.232000,714.249000,45234.840000,6859.150000